@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #0F94CF;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif

}

.container .row{
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 12px 12px 22px #0F94CF;
   
}

.container img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #0F94CF;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

.btn1:hover {
    background: white;
    border: 1px solid;
    color: #0F94CF;
}

a {
    color: #777979;
}

.wrap {
    margin: auto 75px;
}

.title__color,
i {
    color: #0F94CF;
}

/* FOOTER */
footer {
    background-color: #0F94CF;
}

footer .row * {
    color: white !important;
}

footer .row a {
    text-decoration: none;
}

footer .row li:hover a {
    text-decoration: underline white;
}

/* RESPONSIVE */
@media (max-width: 575.98px) {
    .wrap {
        margin: auto 0;
    }

    .header__logo>h1 {
        display: none;
    }

    .header__user>* {
        display: block;
    }

    .header__user__line {
        display: none;
    }

    .product>div:nth-child(n+3) {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .wrap {
        margin: auto 0;
    }

    .header__logo>h1 {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .wrap {
        margin: auto 10px;
    }

    .header__user>* {
        display: block;
    }

    .header__user__line {
        display: none;
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}

.img-fluid {
    max-width: 100%;
    height: auto;
  }
  